{% extends 'base.html.twig' %}

{% block title %}Postes index{% endblock %}

{% block body %}
    <h1>Postes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Image</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for poste in postes %}
            <tr>
                <td>{{ poste.id }}</td>
                <td>{{ poste.date ? poste.date|date('Y-m-d') : '' }}</td>
                <td>{{ poste.image }}</td>
                <td>{{ poste.description }}</td>
                <td>
                    <a href="{{ path('postes_show', {'id': poste.id}) }}">show</a>
                    <a href="{{ path('postes_edit', {'id': poste.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('postes_new') }}">Create new</a>
{% endblock %}
